p{
   color: yellow;
}

html{
   background-color: blueviolet;
}

h2{
   color: fuchsia;
   font-size: large;
}

#paragrafo{
   color: darkblue;
}

.lista{
   font-style: italic;
}

body{
   width: 600px;
   margin: 0 auto;
   background-color: #0e4d58;
   padding: 0 20px 20px 20px;
   border: 3px solid black;
}

h1{
   margin: 0;
   padding: 20px 0;
   color: #f08902;
   text-shadow: 2px 2px 2px black;
   text-align: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}