p{
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html{
   background-color: skyblue;
}

h1,h2 {
   color: teal;
   text-shadow: slategray;
}

#paragrafo01{
   color: darkmagenta;
}