.container{
   display: grid;
   grid-template-columns: 20% 50px 40%;
   grid-template-rows: 20px 80px;
   background-color: blueviolet;   
}

.content{
   grid-column: content;
   border: solid black;
}